@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Reiknum stærð á öllum boxum sem border-box */
  html {
    box-sizing: border-box;
  }
  /* og látum erfast á allt */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  html{
    font-family: 'Lora', serif;
    font-size: 16px;
  }

  header{
    display: block;
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: #2f0505;
    border-bottom: 8px solid #ffe7ae;
    color: beige;
  }

  nav{
    display: block;
    background-color: #fff9ee;
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
  }

  nav ul{
    text-align: center;
  }

  nav ul li{
    display: inline;
    padding-right: 1rem;
  }

  nav ul li:last-child{
    padding-right: 0;
  }

  main{
    margin-bottom: 1rem;
  }

  main .content{
    margin: 0 auto;
    width: 100%;
    padding: 0rem 15rem 0 15rem;
  }

  main section{
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  main ul li{
    list-style-type: none;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    padding: 0rem 2rem 2rem 0rem;
  }

  main h3{
    margin-bottom: 1rem;
  }

  main h2{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
 
  main .content .box{
    border-bottom: 4px solid #ffe7ae;
  }

  footer{
    background-color: #2f0505;
    border-top: 8px solid #ffe7ae;
    color: beige;
    text-align: center;
  }

  footer .content{
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  footer .content .box{
    width: 20%;
    display: inline-block;
    vertical-align: top;
  }

  footer ul{
    text-align: center;
    list-style-type: none;
  }

  footer ul li:first-child{
    padding-top: 1rem;
  }

  footer dl{
    text-align: center;
  }

  footer dl dt{
    padding-top: 1rem;
  }

  footer dl dd:last-child{
    padding-bottom: 1rem;
  }